.backText {
    width: fit-content;
    cursor: pointer;
    color: #0074d9;
    transition: color 300ms ease-out;
}

.backText > svg {
    margin-right: 1rem;
    color: #0074d9;
    cursor: pointer;
    transition: color 300ms ease-out;
}

@media (hover:hover) {
    .backText:hover {
        color: black;
    }

    .backText > svg {
        color: black;
    }
}


