<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Выбор роли</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      background-color: #f8f9fa;
    }
    .role-selection {
      text-align: center;
      margin-top: 100px;
    }
    .role-selection h1 {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: #007bff;
    }
  </style>
</head>
<body>

<div class="container" id="main">
  <div class="row">
    <div class="col-md-6 offset-md-3 role-selection">
      <form @submit.prevent="submit">
        <h1>Выберите роль</h1>
        <div class="btn-group mt-4" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" name="role" id="student" value="student" autocomplete="off" v-model="role" checked>
          <label class="btn btn-outline-primary" for="student">Студент</label>

          <input type="radio" class="btn-check" name="role" id="admin" value="admin" v-model="role" autocomplete="off">
          <label class="btn btn-outline-primary" for="admin">Администратор</label>

          <input type="radio" class="btn-check" name="role" id="employee" value="employee" v-model="role" autocomplete="off">
          <label class="btn btn-outline-primary" for="employee">Сотрудник</label>
        </div>
        <div class="mt-4">
          <input type="text" class="form-control" placeholder="Почта" v-model="email" required maxlength="100"
                 pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9._-]+\.[a-z]+$">
        </div>
        <div class="mt-4">
          <input type="password" class="form-control" placeholder="Пароль" v-model="password" required maxlength="100">
        </div>
        <div class="mt-2">
          <small v-text="error"></small>
        </div>
        <div class="mt-4">
          <button type="submit" class="btn btn-primary btn-lg btn-block" >Войти</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/vue"></script>
<script type="text/javascript">
  Vue.createApp({
    data() {
      return {
        role:'student',
        email: '',
        password: '',
        error: '',
      }
    },
    methods: {
      submit() {
        fetch("http://localhost:80/api/v1/login", {
          method: "POST",
          headers: {
            "Content-type": "application/json",
          },
          body: JSON.stringify({
            email: this.email,
            password: this.password,
            role: this.role,
          })
        }).then(response => {
          if (!response.ok) {
            this.error = "Неверный логин или пароль";
            throw Error
          }

          if (this.role === "admin") {
            location.href = "http://localhost:80/admin/BaseAdminFrame.html"
          } else if (this.role === "employee") {
            location.href = ""
          } else {

          }
        })
        .catch(error => console.log(error))
      }
    }
  }).mount('#main');
</script>
</body>
</html>
